<div class="container mt-5">
    <h2 class="text-center text-primary">Get in Touch</h2>
    <p class="text-center">Need support or have a question? We’d love to talk to you.</p>
  
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card contact-card">
          <div class="card-body">
            <i class="fa fa-phone fa-2x text-primary"></i>
            <h5>Phone us</h5>
            <p>+66 2 784-5855</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card contact-card">
          <div class="card-body">
            <i class="fa fa-envelope fa-2x text-primary"></i>
            <h5>Mail us</h5>
            <p>support&#64;boatreservation.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card contact-card">
          <div class="card-body">
            <h5>Follow us</h5>
            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-info btn-sm"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <h3 class="text-center text-primary mt-5">Our Office Locations</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="location-card">
          <img src="assets/fyi_center.jpg" class="img-fluid" alt="Office 1">
          <h5>FYI Center</h5>
          <p>2525 FYI Center, Bangkok, Thailand</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="location-card">
          <img src="assets/rama2.jpg" class="img-fluid" alt="Office 2">
          <h5>Rama 2</h5>
          <p>30/88 Moo 1, Samut Sakhon, Thailand</p>
        </div>
      </div>
    </div>
  </div>
  